.git
.github
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.egg-info
dist
build
.pytest_cache
.ruff_cache
.mypy_cache
.coverage
htmlcov
.env
.terraform
*.tfstate
*.tfstate.backup
.streamlit
logs/
airflow/airflow.db
airflow/webserver_config.py
airflow/airflow-webserver.pid
dbt/target/
dbt/logs/
dbt/dbt_packages/
